* {
    background-color: aquamarine;
}

header {
    color: pink;
    background-color: chartreuse;
    width: 500px;
    height: 50px;
}

p {
    color: red;
    background-color: black;
    width: 200px;
    height: 200px;
}